<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password reset</title>
</head>
<body>
<h1>Password reset</h1>
<form action="/hotel/get/password/reset" method="get">
  <div>
    <label for="password">enter a new password</label>
    <input type="password" id="password" name="password" placeholder="Enter password" required>
  </div>

  <button type="submit">Password reset</button>
</form>
<a href="/hotel/start">Back to home page</a>
</body>
</html>
