<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The top-up balance</title>
</head>
<body>
<h1>The top-up balance</h1>
<form action="/hotel/get/top/up/balance" method="get">
  <div>
    <label for="balance">balance</label>
    <input type="Double" id="balance" name="balance" placeholder="Enter balance" required>
  </div>
  <button type="submit">Top-up balance</button>
  </div>
</form>
<a href="/hotel/start">Back to home page</a>
</body>
</html>
