<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Available Rooms</title>
  <style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
    }
    table, th, td {
        border: 1px solid #dddddd;
    }
    th, td {
        padding: 12px;
    }
    th {
        background-color: #f2f2f2;
    }
  </style>
</head>
<body>

<h1>Available Rooms</h1>

<div th:if="${rooms != null && !#lists.isEmpty(rooms)}">
  <table>
    <thead>
    <tr>
      <th>Room Number</th>
      <th>Type</th>
      <th>Price Per Night</th>
      <th>Availability</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="room : ${rooms}">
      <td th:text="${room.roomNumber}"></td>
      <td th:text="${room.type}"></td>
      <td th:text="${room.pricePerNight}"></td>
      <td th:text="${room.isAvailable ? 'Yes' : 'No'}"></td>
    </tr>
    </tbody>
  </table>
</div>


<div th:if="${rooms == null || #lists.isEmpty(rooms)}">
  <p th:text="${error}"></p>
</div>
<a href="/hotel/start">Back to home page</a>
</body>
</html>
